langchain==0.0.281
pinecone-client==2.2.2
cohere==4.22
pypdf==3.15.5
python-dotenv==1.0.0
chromadb==0.4.9
python-docx==0.8.11
transformers==4.33.1
gradio==3.44.4
Pillow==10.0.0
PyMuPDF==1.22.5
