# Environment variables go here, can be read by `python-dotenv` package:
#
#   ----------------------------------------------------------------
#    from dotenv import load_dotenv
#    
#    load_dotenv()
#    API_KEY = os.getenv("API_KEY")
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!


OPENAI_API_KEY=your-api-key